
/*checkbox css*/
.styled-checkbox {
	position: absolute;
	opacity: 0;
}
.styled-checkbox + label {
	position: relative;
	cursor: pointer;
	padding: 0;
}
.styled-checkbox + label:before {
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	width: 20px;
	height: 20px;
	background: white;
}
.styled-checkbox:hover + label:before {
	background: #f35429;
}
.styled-checkbox:focus + label:before {
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
	background: #f35429;
}
.styled-checkbox:disabled + label {
	color: #b8b8b8;
	cursor: auto;
}
.styled-checkbox:disabled + label:before {
	box-shadow: none;
	background: #ddd;
}
.styled-checkbox:checked + label:after {
	content: '';
	position: absolute;
	left: 5px;
	top: 9px;
	background: white;
	width: 2px;
	height: 2px;
	box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
/*checkbox css*/

/*range css*/
input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	cursor: pointer;
	display: inline-block;
	/*height: 100%;*/
	height: 50px;
	overflow: hidden;
	width: 65%;
	border: 0;

}
input[type="range"]:focus {
	box-shadow: none;
	outline: none;
	background-color: none;
}
input[type="range"]::-webkit-slider-runnable-track {
	background: #ccc;
	background: -webkit-linear-gradient(to right, #2ecc71, #e74c3c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2ecc71, #e74c3c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	content: '';
	height: 28px;
	pointer-events: none;
	/*border: 1px solid #d5d5d5;*/
	border-radius: 20px;
	box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.12);border:0

}
input[type="range"]::-webkit-slider-thumb {
	height: 40px;
	width: 40px;
	-webkit-appearance: none;
	appearance: none;
	background: #ccc;
	border-radius: 45%;
	margin-top: -7px;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);border:0

	/*border: 1px solid #777;*/
}
input[type="range"]::-moz-range-track {
	width: 230px;
	height: 28px;
}
input[type="range"]::-moz-range-thumb {
	height: 40px;
	width: 40px;
	background: #41bea8;
	border-radius: 45%;
	border: 1px solid #777;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);border:0
	position: relative;
}
input[type="range"]::-moz-range-progress {
	height: 28px;
	background: #ccc;
	border: 0;
	margin-top: 0;
}
input[type="range"]::-ms-track {
	background: transparent;
	border: 0;
	border-color: transparent;
	border-radius: 0;
	border-width: 0;
	color: transparent;
	height: 28px;
	margin-top: 10px;
	width: 230px;
}
input[type="range"]::-ms-thumb {
	height: 40px;
	width: 40px;
	background: #41bea8;
	border-radius: 45%;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);border:0

}
input[type="range"]::-ms-fill-lower {
	background: #ccc;
	border-radius: 0;
}
input[type="range"]::-ms-fill-upper {
	background: #f6f6f6;
	border-radius: 0;
}
input[type="range"]::-ms-tooltip {
	display: none;
}

#rangeInputHarm{
	padding: 5px;
	box-sizing: border-box;
}

.sliderSpan{
	line-height: 50px;
	height: 25px;
	color:#555;
	font-size: 14px;
	/*font-weight: 600;*/
	padding: 0 8px;
}

/*range css*/


body {
	width: 100wh;
	/*height: 90vh;*/
	-ms-overflow-style: none; 
	overflow: -moz-scrollbars-none; 
	/*overflow: hidden;*/
	overflow-x: hidden;
	font-family: 'Open Sans';
	color:#555;
	/*background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);*/
	background-size: 400% 400%;
	-webkit-animation: Gradient 60s ease infinite;
	-moz-animation: Gradient 60s ease infinite;
	animation: Gradient 60s ease infinite;
	margin: 5px 0 0 5px;
	padding: 0;
}

body::-webkit-scrollbar { 
	display: none;  
}


form{
	width: 810px;
	overflow: hidden;
	margin: 0 auto;
	-ms-overflow-style: none; 
	overflow: -moz-scrollbars-none; 

}
form::-webkit-scrollbar { 
	display: none;  
}
.formCont{
	width: 10000px;
}

.fulldiv{

	width: 800px;
	overflow: hidden;
	margin: 50px 0;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	opacity: 0; 



}

/*@media only screen and (max-width: 800px) {
	.fulldiv{
		width: 98%;
	}
}*/

.fullwidth{
	width: 100%;

}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

img{
	width: 100px;
	margin: 150px auto 10px auto;
	display: block;
}

h1 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	margin: 0;
	/*margin-top: 30vh;*/
	right: 0;
	left: 0;
	color:#555;
}

*{
	transition: all 0.3s ease;
}
ul , li{
	list-style: none;
	padding: 3px;
}

h3 {
	font-family: 'Open Sans';
	font-weight: 300;
	color: #666;
	margin: 0;
	text-align: center;
	top: 45%;
	right: 0;
	left: 0;
}

.inlineblock{
	display: inline-block !important;
}

.centerit{
	margin: 0px auto ;
	text-align: center;
	display: block;
}


.rightit{
	/*margin: 0px auto ;*/
	text-align: center;
	display: block;
	float: right;
}


.submitbutt{
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #1abc9c;
	color:#fff;
	font-size: 20px;
	padding: 10px 20px;
	margin: 20px auto;
	font-weight:300;
	cursor: pointer;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);border:0

}
.submitbutt:hover{
	box-shadow: none;
}

.reviewButt{
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #1abc9c;
	color:#fff;
	font-size: 15px;
	padding: 10px 20px;
	margin: 20px auto;
	font-weight:300;
	cursor: pointer;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);border:0

}
.reviewButt:hover{
	box-shadow: none;
}
.largebutt{
	border: 1px solid #777;
	border-radius: 5px;
	background-color: transparent;
	color:#555;
	font-size: 15px;
	padding: 10px 20px;
	margin: 20px auto;
	cursor: pointer;

}

button:focus {outline:0;}


.largebutt:hover{
	background-color: #444;
	color: #fff;
}

.toggleButton{

	border: 0px solid #fff;
	border-radius: 5px;
	background-color: transparent;
	color:#555;
	background-color: #1abc9c;
	font-size: 15px;
	padding: 7px 12px;
	margin: 10px auto;
	cursor: pointer;
	box-shadow:0 0 25px rgba(0,0,0,.05);
}
.toggleButton{
	background-color: #2ecc71;
	color: #fff;

}

.blocktitle{
	margin: 15px 0 8px 0;
	font-style: 20px;
	font-weight: 600;
	color:#333;
	display: block;
}

small{
	font-weight: 300;
}

textarea{
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #777;
	border-radius:5px;
	color:#000;
	font-size: 15px;
	background-color: transparent;
	font-family: 'Open Sans';

}

textarea:focus{
	outline-width: 0;
	outline: none;
	background-color: #eee;

}

input{
	padding: 5px 10px;
	box-sizing: border-box;
	border: 1px solid #777;
	border-radius:5px;
	width: 100%;
	color:#000;
	font-size: 15px;
	background-color: transparent;
	font-family: 'Open Sans';

}


input:focus{
	outline-width: 0;
	outline: none;
	background-color: #eee;

}


::-moz-placeholder {
	color: #b3b3b3;
}